## Data structures in Python

In [1]:
## List: List are the ordered mutable collection of items
## They can contain items of different data types

In [3]:
lst=[]
print(type(lst))

<class 'list'>

In [5]:
name=["Krish","Jack","John","Doe",1,2,3,4]
print(name)

['Krish', 'Jack', 'John', 'Doe', 1, 2, 3, 4]

In [8]:
mixed_list=[1,2,3,4,"Krish","Jack","John","Doe", True, 3.14]
print(mixed_list)

[1, 2, 3, 4, 'Krish', 'Jack', 'John', 'Doe', True, 3.14]

In [15]:
### Accessing list elements
fruits=["Apple","Banana","Mango","Orange","Pineapple"]
print(fruits[0])
print(fruits[4])
print(fruits[-1]) ## displays the last element

Apple
Pineapple
Pineapple

In [16]:
print(fruits[-2])

Orange

In [17]:
## we can modify the list elements
fruits[1]="Grapes"
print(fruits)

['Apple', 'Grapes', 'Mango', 'Orange', 'Pineapple']

In [18]:
fruits[1:]="Wattermelon"
print(fruits)

['Apple', 'W', 'a', 't', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [21]:
## List methods
fruits=["Apple","Banana","Mango","Orange","Pineapple"]
fruits.append("Banana")
print(fruits)

['Apple', 'Banana', 'Mango', 'Orange', 'Pineapple', 'Banana']

In [25]:
## Remove: removes the first occurance of the element
fruits.remove("Banana")
fruits

['Apple', 'Mango', 'Orange', 'Pineapple']

In [26]:
## Remove and return the last element
fruits.pop()

'Pineapple'

In [27]:
#index in list
fruits.index("Mango")

1

In [32]:
## count the number of occurance of the element
print(fruits.count("Mango"))
print(fruits.count("Banana"))

1
0

In [ ]:
fruits.sort() ## sort the list in alphabetical order
print(fruits)

['Apple', 'Mango', 'Orange']

In [ ]:
fruits.clear() ## clear the list: Remove all items from the list
print(fruits)

[]

In [41]:
## Slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[0:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[:])
print(numbers[::2]) ## step size 2: will jump 2 steps ahead
print(numbers[::-1]) ## reverse the list

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
print(numbers[::-2])

[10, 8, 6, 4, 2]

In [44]:
## Iterate over the list
for fruit in numbers:
    print(fruit)

1
2
3
4
5
6
7
8
9
10

In [45]:
## Iterating with index
for index, fruit in enumerate(numbers):
    print(index, fruit)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [49]:
## list comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List comprehension

Basics Syntax      [expression for item in iterable]

with conditional login     [expression for item in iterable if condition]

nested list comprehension   [expression for item1 in iterable1 for item2 in iterable2]

In [52]:
## Basic list comprehension
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
## List comprehension with condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [55]:
[num for num in range(10) if num%2==0]

[0, 2, 4, 6, 8]

In [59]:
## Nested list comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[(i,j) for i in lst1 for j in lst2]
print(pair)
pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]
[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [60]:
## List comprehension with function calls
words=["hello","world","python","is","awesome"]
length=[len(word) for word in words]
print(length)

[5, 5, 6, 2, 7]

### Conclusion

List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code

### Tuples
Things we are going to learn in tuples
1. Introduction to Tuples
2. Creating Tuples
3. Accessing tuple elements
4. Tuple operations
5. Immutable nature of tuples
6. Tuple methods
7. Packing and unpacking tuples
8. Nested tuples
9. Practical examples and common errors

### Introduction to Tuples
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating the tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(lst)
print(type(lst))
tpl=tuple()
print(tpl)
print(type(tpl))

[]
<class 'list'>
()
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [4]:
## both the ways we can do the type conversions
## that is from tuple to list and from list to tuple
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [5]:
mixed_tuple=(1,2,3,4,5,"Krish","Jack","John","Doe", True, 3.14)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 2, 3, 4, 5, 'Krish', 'Jack', 'John', 'Doe', True, 3.14)
<class 'tuple'>

In [6]:
## Accessing tuple elements
numbers

(1, 2, 3, 4, 5)

In [7]:
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[4])
print(numbers[-1])
print(numbers[-2])

1
2
3
5
5
4

In [8]:
print(numbers[1:4])
print(numbers[0:4])
print(numbers[1:])
print(numbers[:4])

(2, 3, 4)
(1, 2, 3, 4)
(2, 3, 4, 5)
(1, 2, 3, 4)

In [9]:
numbers[::]

(1, 2, 3, 4, 5)

In [10]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [13]:
## Tuple operations
mixed_tuple=(1,2,3,4,5,"Krish","Jack","John","Doe", True, 3.14)
concatenation_tuple=numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Krish', 'Jack', 'John', 'Doe', True, 3.14)

In [14]:
mixed_tuple*3 ## repeat the tuple 3 times, means it will append the tuple 3 times

(1,
 2,
 3,
 4,
 5,
 'Krish',
 'Jack',
 'John',
 'Doe',
 True,
 3.14,
 1,
 2,
 3,
 4,
 5,
 'Krish',
 'Jack',
 'John',
 'Doe',
 True,
 3.14,
 1,
 2,
 3,
 4,
 5,
 'Krish',
 'Jack',
 'John',
 'Doe',
 True,
 3.14)

In [16]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
## Immutable nature of tuple
## we can not modify the tuple elements, meaning their elements cannot be changed once assinged.