### SQL and SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )               
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
    Select * from employees
''')

In [13]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
                values('Krish',32,'Data Scientist')
''')

cursor.execute('''
Insert Into employees(name,age,department)
                values('Bob',25,'Engineering')
''')

cursor.execute('''
Insert Into employees(name,age,department)
                values('Krish',32,'Data Scientist')
''')

## Commit the changes
connection.commit()

In [14]:
### Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the queired data

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Kish', 32, 'Data Scientist')
(3, 'Krish', 32, 'Data Scientist')
(4, 'Krish', 32, 'Data Scientist')
(5, 'Kish', 32, 'Data Scientist')
(6, 'Krish', 32, 'Data Scientist')
(7, 'Krish', 32, 'Data Scientist')
(8, 'Bob', 25, 'Engineering')
(9, 'Krish', 32, 'Data Scientist')

In [21]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Krish"               
''')

connection.commit()

In [22]:
for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Kish', 32, 'Data Scientist')
(3, 'Krish', 32, 'Data Scientist')
(4, 'Krish', 32, 'Data Scientist')
(5, 'Kish', 32, 'Data Scientist')
(6, 'Krish', 32, 'Data Scientist')
(7, 'Krish', 32, 'Data Scientist')
(8, 'Bob', 25, 'Engineering')
(9, 'Krish', 32, 'Data Scientist')

In [23]:
for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Kish', 32, 'Data Scientist')
(3, 'Krish', 32, 'Data Scientist')
(4, 'Krish', 32, 'Data Scientist')
(5, 'Kish', 32, 'Data Scientist')
(6, 'Krish', 32, 'Data Scientist')
(7, 'Krish', 32, 'Data Scientist')
(8, 'Bob', 25, 'Engineering')
(9, 'Krish', 32, 'Data Scientist')